<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332588693279-cn25ck8ph89roeoij9n6foklekmrptfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332588693279-cn25ck8ph89roeoij9n6foklekmrptfd</string>
	<key>API_KEY</key>
	<string>AIzaSyCuMbW5cfgDs-qZs9F7nJdlgz2ZbEHLzBU</string>
	<key>GCM_SENDER_ID</key>
	<string>332588693279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UTCS.step-strikers-app</string>
	<key>PROJECT_ID</key>
	<string>stepstrikers-39381</string>
	<key>STORAGE_BUCKET</key>
	<string>stepstrikers-39381.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332588693279:ios:d3f8a98f1f4627112be22a</string>
</dict>
</plist>